<% include partials/header %>

  <div class="container">
    <div class="center">
      <h1>Questions</h1>
      <a href="/questions/edit">Edit questions</a>
    </div>

    <ul class="questions">
      <% for(let q of questions){ %>
        <li data-oid="<%= q._id %>">
          <span class="question">
            <%= q.question %>
          </span>
        </li>
        <% } %>
    </ul>
  </div>

  <% include partials/footer %>
