<% include partials/header %>
  <div class="container">
    <h1>Questions</h1>

    <ul class="questions">
      <% for(let q of questions){ %>
        <li data-oid="<%= q._id %>">
          <span class="question">
            <%= q.question %>
          </span>
        </li>
        <% } %>
    </ul>
  </div>

<% include partials/footer %>
