<% include partials/header %>


  <form action="/login" method="POST">
    <h1>Login</h1>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" required>
    <button>Login</button>
    <p>
      <a href="/register">Register</a>
    </p>
    <p>
      <a href="/">Back to Index</a>
    </p>
  </form>

  <% include partials/footer %>
